<!DOCTYPE html>
<html>
<head>
	<title>Edit Password Page</title>
</head>
<body>
    <div align = "center" style="border-style: solid; background-color:lightblue;">
        <form id="form1" name="form1" method="POST">
        {% csrf_token %}
                <div>
                    <h2>Update Password</h2>
                </div>
                {% if form.errors  %}
                    <span style="color: red; " align = "center"><p>{{ form.errors.old_password }}</p></span>
                {% endif %}
                <div>
                    <label>Old Password</label>
                    <div>
                        <input type="password" id="old_password" name="old_password" placeholder="old password">
                    </div>
                </div>
                
                {% if form.errors  %}
                    <span style="color: red; " align = "center"><p>{{ form.errors.new_password1 }}</p></span>
                {% endif %}
                {% if form.errors  %}
                    <span style="color: red; " align = "center"><p>{{ form.errors.new_password2 }}</p></span>
                {% endif %}
                <div>
                    <label>New Password</label>
                    <div>
                        <input type="password" id="new_password1" name="new_password1" placeholder="new password">
                        <h5>Password should be at least 8 characters</h5>
                    </div>
                </div>
            
                <div>
                    <label for="password_confirm">Password (Confirm)</label>
                    <div>
                        <input type="password" id="new_password2" name="new_password2" placeholder="confirm new password">
                        <h5>Please confirm password</h5>
                    </div>
                </div>
        </form>
        <div align ="center">
            <input type = "submit" value = "Edit Password" form = "form1">
            <a href = "{% url 'listman:index' %}"> <button>Cancel</button> </a>
        </div>
    </div>
    
</body>
</html>


<!--
    <form method="post" action="{% url 'listman:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>  
-->