<div align = "center" style="border-style: solid; background-color:lightblue;">
    <form method="post" name="form1" id="form1">
    {% csrf_token %}
        <div>
            <h2>E-mail</h2>
            <label>Please provide your E-mail</label> 
            <div>
                <input type="email" id="email" name="email" placeholder="email">
            </div>
        </div>
    </form>

    <div>
        <button type="submit" form="form1">Submit</button>
        <a href = "{% url 'listman:login' %}"> <button>Cancel</button> </a>
    </div>
</div>